/*---------CLAYTON SURFUS----------*/
.error {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background: #FFBCBC;
	border: solid 1px #C80000;
	padding: 15px;
	margin: 15px 0px 15px 0px;
}
/*-------END CLAYTON SURFUS-------*/