extends layout

block variables
    - var title = "Dashboard"

block content
    h2.text-center Dashboard

    .row
        .offset-sm-2.col-sm-8
            .jumbotron.text-center
                Welcome user!
