<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link href="../../css/loginstyle.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--webfonts-->
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <!--//webfonts-->
  </head>

  <body>
    <div class="main">
      <div class="user">
        <img src="../../img/user.png" alt="">
      </div>
      <div class="edit">
        <div class="inset">
          <!-----start-main---->
          <form action="../../account/edit" method="POST" enctype="multipart/form-data">
            <div class="username">
              Username: {{username}}<br><br>
            </div>
             <div>
                <span><label>New Email</label></span>
                <span><input type="text" name="email" class="textbox" id="active"></span>
             </div>
             <div>
              <span><label>New Password</label></span>
                <span><input type="password" name="password" class="textbox" id="active"></span>
             </div>
             <img src="../public/images/{{image}}" class="img-circle" width="60">
             <div>
              <span><label>New Avatar</label></span>
                <span><input type="file" name="avatar" id="active"></span>
             </div>
            <div class="sign">
              <div class="submit">
                <input type="submit" value="Edit Account" >
              </div>
              <div class="clear"> </div>
            </div>
            </form>
          </div>
        </div>
      <!-----//end-main---->
      </div>
       <!-----start-copyright---->
              <div class="copy-right">
                <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
            </div>
          <!-----//end-copyright---->
  </body>
</html>

