<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../../css/loginstyle.css" rel='stylesheet' type='text/css' />
    <link href="../../css/custom.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
  </head>

  <body>
    <div class="main">
      <div class="forgot-password">
        <div class="inset">
          <!-- BEGIN ERRORS -->
          {{#if noUserExists}}
            <div class="error">
              Could not find an account!
            </div>
          {{/if}}
          {{#if badError}}
            <div class="error">
             {{badError}}
            </div>
          {{/if}}
          <!-- END ERRORS -->
          <!-- start main -->
            <form action="/account/forgot-password" method="POST">
              {{#if accountFound}}
                <div class="success">
                  An email will be sent to the email address associated with your account
                  shortly.
                </div>
              {{else}}
                <h1 style="text-align:center">Forgot Password</h1><br>
                <p style="text-align:center">Please enter the username associated with the
                account. You will be emailed a link for recovering your account</p><br><br>
              {{/if}}
              <div class="create-account">
                <a href="/account/create{{returnUrl}}">Create Account</a>
              </div>
              <div>
                <span><label>Username</label></span>
                <span><input type="text" name="username" class="textbox" id="active"></span>
              </div>
              <div class="sign">
                <div class="submit">
                  <input type="submit" value="SUBMIT">
                </div>
              <span class="forget-pass">
                <a href="/account/login">Login</a>
              </span>
                <div class="clear"> </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end main -->
      <!-- start copyright -->
      <div class="copy-right">
        <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
      </div>
      <!-- end copyright -->
  </body>

</html>
