extends layout

block variables
    - var title = "Home"

block content
    h2.text-center Welcome to MazeLike

    .row
        .offset-sm-2.col-sm-8
            .jumbotron.text-center.
                Get yo maze on!
