<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="../../css/loginstyle.css" rel='stylesheet' type='text/css' />
<link href="../../css/custom.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/m main.png"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="manifest" href="/manifest.json"/>
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="/scripts/common.js"></script>
</head>

  <body>
    <div class="main">
      <div class="user">
        <img src="../../img/user.png" alt="">
      </div>
      <div class="login">
        <div class="inset">

        <!--ERRORS-->
        {{#if wrongUsername}}
          <div class="error">
            The username you entered does not exist!
          </div>
        {{/if}}
        {{#if wrongPassword}}
          <div class="error">
            Wrong password!
          </div>
        {{/if}}
        <!--END ERRORS-->

        <!-----start-main---->
        <form action="/account/login{{returnUrl}}" method="POST">
          <div class="create-account">
            <a href="/account/create{{returnUrl}}">Create Account</a>
          </div>
          <div>
             <span><label>Username</label></span>
             <span><input type="text" name="username" class="textbox" id="active"></span>
          </div>
          <div>
            <span><label>Password</label></span>
            <span><input type="password" name="password" class="password"></span>
          </div>
          <div class="sign">
            <div class="submit">
              <input type="submit" value="LOGIN" >
            </div>
            <span class="forget-pass">
              <a href="/account/forgot-password">Forgot Password?</a>
            </span>
              <div class="clear"> </div>
          </div>
          </form>
        </div>
      </div>
    <!-----//end-main---->
    </div>
     <!-----start-copyright---->
     <div class="copy-right">
        <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
     </div>
     <!-----//end-copyright---->
  </body>
</html>
