<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="Dashboard, Bootstrap, Template">
    <link rel="icon" href="/img/m main.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <script src="/scripts/common.js"></script>
    <meta name="theme-color" content="#203255"/>

    <title>MazeLike - Account</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../css/loggedinstyle.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/account/dashboard" class="logo"><img class="logo" src="../img/mazelike logo white.png" alt="logo" height=40 width=175></a>
            <!--logo end-->
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                  <p class="centered"><a href="/account/view"><img src="../public/images/{{image}}" class="img-circle" width="60"></a></p>
                    <h5 class="centered">
                        {{username}}
                    </h5>
                    <li class="mt">
                        <a href="/account/dashboard">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a class="active" href="/account/view">
                            <i class="fa fa-tasks"></i>
                            <span>View Account</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="/account/logout">
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <h3></i> Account Info</h3>

                <!-- BASIC FORM ELELEMNTS -->
                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="form-panel">
                            <form class="form-horizontal style-form" method="get">
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Username</label>
                                    <div class="col-lg-10">
                                        {{username}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        {{email}}
                                    </div>
                                </div>
                                <a href="/account/edit"><button class="blue-btn" type="button"> Edit </button></a>
                        </div>
                    </div><!-- col-lg-12-->

                </div><!-- /row -->
            </section><!-- /MAIN CONTENT -->

            <!--main content end-->
        </section>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery.js"></script>
        <script class="include" type="text/javascript" src="../js/jquery.dcjqaccordion.2.7.js"></script>


        <!--common script for all pages-->
        <script src="../js/common-scripts.js"></script>

</body>
</html>
